* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    font-weight: 600;
    color: #7f7e84;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
  }
  
  .diamond-card {
    padding: 1rem 0;
  }

  .card-container {
    width: 80%;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-content {
      width: 30%;
      height: 40%;
    border-radius: 5px;
    margin: 1em 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 22px 0 rgba(128, 128, 129, 0.37);
  }
  
  .card-content h2 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .card-content p {
    color: #5c5b5b;
    font-size: 14px;
  }
  
  .img-container {
    margin-top: 10px;
    text-align: center;
  }
  
  .img-container img {
    width: 150px;
    height: 180px;
  }

